[submodule "images"]
	path = images
	url = https://github.com/deplug/images.git
[submodule "plugkit/vendor/nan"]
	path = plugkit/vendor/nan
	url = https://github.com/nodejs/nan.git
[submodule "plugkit/vendor/winpcap"]
	path = plugkit/vendor/winpcap
	url = https://github.com/deplug/winpcap.git
[submodule "plugkit/vendor/Catch"]
	path = plugkit/vendor/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "genet-core/genet_node/vendor/nan"]
	path = genet-core/genet_node/vendor/nan
	url = https://github.com/nodejs/nan.git
[submodule "genet-core/genet_node/vendor/Catch2"]
	path = genet-core/genet_node/vendor/Catch2
	url = https://github.com/catchorg/Catch2.git
