[Desktop Entry]
Name=Genet
Comment=Next generation packet analyzer
Exec=/usr/share/genet/genet
Terminal=false
Type=Application
Icon=genet
Categories=Network;Monitor
StartupNotify=true
