[Desktop Entry]
Name=Genet
Comment=General-purpose Network Analyzer
Exec=/usr/share/genet/genet
Terminal=false
Type=Application
Icon=genet
Categories=Network;Monitor
StartupNotify=true
