Package: genet
Version: {{GENET_VERSION}}
Architecture: amd64
Maintainer: h2so5 <mail@h2so5.net>
Section: net
Priority: optional
Installed-Size: 160000
Depends: libcap2-bin, gconf-service
Vcs-Git: git://github.com/genet-app/genet.git
Vcs-browser: http://github.com/genet-app/genet
Homepage: https://genet.app
Description: General Purpose Network Analyzer
 Genet is a modern packet analyzer based on Electron.
