@import "deplug-theme";
@import "protocol";
@import "component";
@import "form";
@import "scrollbar";

* {
  font-family: @theme-font-family;
  font-size: @theme-font-size;
  -webkit-appearance: none;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  color: @theme-default-fg;
}

.fa {
  font-family: 'FontAwesome', sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
}

::selection {
  background: @theme-default-fg;
  color: @theme-default-bg;
}

h1, h2, h3, h4, h5, h6, label, summary {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

h1 {
  font-size: 2.0em;
  color: @theme-light-fg;
}

h2 {
  font-size: 1.8em;
  color: @theme-light-fg;
}

h3 {
  font-size: 1.6em;
  color: @theme-light-fg;
}

h4 {
  font-size: 1.4em;
  color: @theme-light-fg;
}

h5 {
  font-size: 1.2em;
  color: @theme-light-fg;
}

h6 {
  font-size: 1.0em;
  color: @theme-light-fg;
}

th {
  color: @theme-dark-fg;
}

label {
  color: @theme-dark-fg;
}

table {
  width: 100%;
  margin: 20px auto;
  max-width: 800px;

  th {
    text-align: left;
  }
}

article {
  padding: 0 20px;
}

:root {
  --vibrancy: @theme-vibrancy;
}

[data-layer] {
  .protocol-color(@theme-lighter-bg);
}

[data-layer-error] {
  .protocol-color(#e0352f);
}

[data-selected] {
  .protocol-color(#221E1F);
  font-weight: bold;
}
