@import "common";

nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 180px;
  padding: 0;
  -webkit-app-region: drag;
  overflow-y: hidden;
  border-right: 1px solid @theme-lighter-bg;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      -webkit-user-select: none;
      color: @theme-default-fg;

      a {
        padding: 15px 20px;
        display: block;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          background: @theme-lighter-bg;
        }

        &[active] {
          background: @theme-lighter-bg;
        }
      }
    }
  }
}

main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 180px;
  right: 0;

  article {
    padding: 0 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;

    &[active] {
      visibility: visible;
    }
  }
}
